*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: sans-serif;
    font-size: 1.125rem;
    color: var(--color-text-main);

    --sidebar-width-expanded: 300px;
    --sidebar-width-collapsed: calc(2.1em + 15px);
    --color-sidebar-divider: #5C616A;
    --color-sidebar-button-hover: #9CBFDE;
    --color-sidebar-button-active: #3F5FBE;
    --color-sidebar-button-active-text: #FFFFFF;
    --color-sidebar-button-selected: #FFFFFF;
    --color-sidebar-button-selected-text: #13265D;

    --color-background: #CCCCCC;
    --color-text-main: #1A1C20;
    --color-text-secondary: #5C616A;
}

body {
    height: 100vh;
    display: grid;
    grid-template: 75px 1fr / var(--sidebar-width) 1fr;

    --sidebar-width: var(--sidebar-width-expanded);
}

body:has(#sidebar[data-collapsed]) {
    --sidebar-width: var(--sidebar-width-collapsed);
}

header {
    grid-column: 1 / -1;
    align-content: center;
    border-bottom: 2px solid var(--color-text-secondary);

    background-color: var(--color-background);
}

h1 {
    padding-left: 10px;
}

#sidebar {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow: hidden;

    background-color: var(--color-background);
}

#sidebar-actions {
    display: flex;
    justify-content: flex-end;
    margin: 5px 5px 0 0;
}

#sidebar[data-collapsed] #sidebar-actions {
    justify-content: center;
}

.sidebar-button {
    color: var(--color-text-main);
    background: none;
    border: none;
}

.sidebar-button.rounded {
    border-radius: 5px;
    padding: 2px;
}

.sidebar-button:hover,
.sidebar-button:focus {
    background-color: var(--color-sidebar-button-hover);
}

.sidebar-button:active {
    background-color: var(--color-sidebar-button-active);
    color: var(--color-sidebar-button-active-text);
}

.sidebar-button[data-selected] {
    background-color: var(--color-sidebar-button-selected);
    color: var(--color-sidebar-button-selected-text);
}

.view-button-container {
    display: flex;
    flex-direction: column;
}

.view-button {
    padding: 10px 0;
    font-size: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-top: var(--sidebar-button-border);

    --sidebar-button-border: 2px solid var(--color-sidebar-divider);
}

.view-button:last-child {
    border-bottom: var(--sidebar-button-border);
}

.view-button img {
    height: 2.1em;
    padding: 0 10px 0 5px;
}

.auto-mask-icon {
    object-position: -9999px -9999px;

    background-color: currentColor;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

#projects-header {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

#sidebar[data-collapsed] #projects-header {
    justify-content: center;
}

#sidebar[data-collapsed] #projects-header h2 {
    display: none;
}
